export("EM.PScr")
importFrom("stats", "pnorm", "pgamma", "dgamma", "plnorm", "dlnorm", "qlogis", "uniroot","nlminb","plogis")
importFrom("VGAM", "lerch","pbisa", "dbisa")
importFrom("pracma", "hessian")
importFrom("survival", "survfit")
